/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #31363b;
}

p {
    margin: 0px;
    margin-bottom: 1em;
    max-width: 900px;
}

p + p {
    margin-top: 5px;
}

a {
    text-decoration: none !important;
    color: #3b85b5;
}

a:hover {
    color: #3daefd;
}

main h1 {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h2 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h4 {
    font-size: 18px;
    font-weight: normal;
    color: #536161;
    margin: 0px;
    margin-top: 20px;
}

main h5 {
    font-size: 16px;
    font-weight: normal;
    color: #536161;
    margin: 0px;
    margin-top: 15px;
}

main h6 {
    font-size: 15px;
    font-weight: normal;
    color: #536161;
    margin: 0px;
    margin-top: 10px;
}


main section {
    margin-top: 40px;
}
