/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Collection of Breeze like elements (e.g. Buttons)
 */
@import "functions";

.learn-more {
    display: inline-block;

    &:after {
        content: ">";
        font-family: "glyph";
        font-size: 80%;
        font-weight: bold !important;
        vertical-align: middle;
        padding-left: 1em;
    }
}

a.button {
    @include button();
}
a.button.noblefir {
    @include button-simple(#a6cfb7, #27ae60, white);
}

a.button.expand {
    display: block;
    padding-right: 20px;
}

a.button:after {
    color: #fcfcfc
}

a.button.expand:after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -.8ex;
}

@media (max-width: 768px) {
    a.button {
        display: block;
        padding-right: 20px;
    }

    a.button:after {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -.8ex;
    }

}