/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@media (prefers-color-scheme: dark) {
    .statstable > * > tr > td,
    body, .mw-pt-languages, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact, .uls-language-block > ul > li:hover, .ext-translate-container .tux-messagelist .tux-message-pagemode {
        background-color: #232629 !important;
        color: #eff0f1;
    }
    #kHeaderNav .navbar-collapse a, pre, .tux-messagelist .tux-message-pagemode .tux-pagemode-source, .tux-messagelist .tux-message-pagemode .tux-pagemode-translation, .tux-editor-header, .tux-statsbar-info, .ext-translate-language-selector-label, .contributionscores-title {
        color: #eff0f1 !important;
    }
    .diff-context,
    #pagehistory li.selected,
    .statstable > * > tr > th,
    .mw-highlight,
    .lqt-post-wrapper .lqt_post_new_message,
    .mw-pt-languages-label, .card, footer, .lqt-post-wrapper, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact:hover, .uls-menu, .uls-search, .uls-lcd, .uls-languagefilter, .tux-action-bar, .contributionscores .header, table.wikitable > tr > th, table.wikitable > * > tr > th, .form-control, .form-control::placeholder {
        color: #eff0f1 !important;
        background-color: #31363b !important;
        background: #31363b !important;
    }
    a {
        color: #5daee9;
    }
    a:hover {
        color: #7daee9;
    }
    .statstable > * > tr > td:nth-child(6)[data-sort-value="0.00000"],
    h1, h2, h3, h4, h5, h6, #kLegal, .lqt-thread-toolbar-timestamp, .lqt-thread-actions-icon, .page-info, .tux-breadcrumb, .tux-message-selector li a{
        color: #bdc3c7 !important;
    }
    #kFooterIncome, #kFooterIncome h3 {
        color: #334545 !important;
    }
    .form-control {
        border: 1px solid #31363b;
    }

    .diff-addedline .diffchange,
    .diff-deletedline .diffchange {
        color: black;
    }

    pre.pre-input {
        background-color: #bdc3c7;
        color: black !important;
    }

    .alert-warning {
        border-color: #f67400;
        color: #eff0f1;
        background-color: rgba(246,116,0,0.2);
    }

    .alert-error {
        border-color: rgb(218,68,83);
        color: #eff0f1;
        background-color: rgba(218,68,83,0.2);
    }

    .alert-success {
        background-color: #2f4e42;
        color: #eff0f1;
        border-color: #27ae60;
    }

    .alert-info {
        background-color: rgba(61,174,233, 0.2);
        color: #eff0f1;
        border-color: rgb(61,174,233);
    }

    .icon-dark-invert img,
    .alert-success img,
    .mw-pt-languages-label::after {
        filter: invert(1);
    }

    .mono-icon img {
        background-color: white;
    }
}
