/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/css/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('/css/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('/css/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/css/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('/css/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('/css/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('/css/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('/css/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('/css/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}
