/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#kFooter section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#kSocial {
    border-top: solid 1px #cfd5d5;
}

#kLinks {
    padding-top: 30px !important;
    padding-bottom: 40px !important;
}

#kLinks a {
    display: inline;
}

#kLinks nav {
    max-width: 200px;
}


#kLinks a:after { content: ' '; display: block; } 

#donateAmountField, #donateSubmit, #kMetaStore .button {
    border: solid 1px rgba(0,0,0,.2);
    background-color: #FAFAFA;
    padding: 5px 10px;
    border-radius: 2px;
    background-clip: padding-box;
    position: relative;
    color: #333;
}

#donateSubmit, #kMetaStore .button {
    cursor: pointer;
}

#donateAmountField:focus, #kMetaStore .button:focus {
    border-color: #7cbcec;
    background-color: #FFF;
}

#donateSubmit:hover,  #kMetaStore .button:hover {
    background-color: #FFF;
}

#donateSubmit:active,  #kMetaStore .button:active {
    background-color: #EEE;
    top: 1px;
}

#kLegal small {
min-width: 300px;
}

#kLegal {
    color: #6f8181;
}

footer {
    background-color: #EFF1F1;
    position: relative;
    padding-top: 2px;
    font-size: 12px;
}
